# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\univer\4_sem\kursach_sobolevskiy\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
